selenium~=4.24.0
beautifulsoup4~=4.12
pandas~=2.2.3
playwright
requests>=2.31.0
crawl4ai
zeep
google-cloud-discoveryengine
google-cloud-translate==2.0.1
protobuf
psycopg2-binary>=2.9.6
openai>=1.5.0
openpyxl
langchain>=0.1.0
langchain-openai>=0.0.2
python-dotenv>=1.0.0
bs4
crewai
